.elementor-3763 .elementor-element.elementor-element-401e8cc:not(.elementor-motion-effects-element-type-background), .elementor-3763 .elementor-element.elementor-element-401e8cc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-text );}.elementor-3763 .elementor-element.elementor-element-401e8cc{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0% 0% 0% 0%;}.elementor-3763 .elementor-element.elementor-element-401e8cc > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3763 .elementor-element.elementor-element-2763ff9.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-3763 .elementor-element.elementor-element-2763ff9 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-block-end:0px;}.elementor-3763 .elementor-element.elementor-element-2763ff9 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-3763 .elementor-element.elementor-element-73333317:not(.elementor-motion-effects-element-type-background), .elementor-3763 .elementor-element.elementor-element-73333317 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-text );}.elementor-3763 .elementor-element.elementor-element-73333317{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:90px 0px 70px 0px;}.elementor-3763 .elementor-element.elementor-element-73333317 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3763 .elementor-element.elementor-element-41382ae > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-3763 .elementor-element.elementor-element-eb682ad > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-3763 .elementor-element.elementor-element-eb682ad{text-align:start;}.elementor-3763 .elementor-element.elementor-element-8263206{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:20px 0px;--row-gap:20px;--column-gap:0px;--flex-wrap:wrap;--padding-top:24px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-302e3e6{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-302e3e6.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-9a48f1e{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-9a48f1e > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-3763 .elementor-element.elementor-element-9a48f1e img{transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-c868ee0{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-c868ee0.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-f462b72{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-f462b72 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-3763 .elementor-element.elementor-element-f462b72 img{width:100%;transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-508b17e{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-508b17e.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-be416c9{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-be416c9 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-3763 .elementor-element.elementor-element-be416c9 img{transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-52dbaaa{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-52dbaaa.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-c5406c0{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;text-align:center;}.elementor-3763 .elementor-element.elementor-element-c5406c0 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-3763 .elementor-element.elementor-element-c5406c0 img{transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-0c1451e{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-0c1451e.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-c20ad43{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-c20ad43 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-3763 .elementor-element.elementor-element-c20ad43 img{transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-7a8722d{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-7a8722d.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-a362ca6{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-a362ca6 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-3763 .elementor-element.elementor-element-a362ca6 img{width:100%;transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-13f4f2e{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-13f4f2e.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-466d28a{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-466d28a > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-3763 .elementor-element.elementor-element-466d28a img{width:100%;transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-9bbc3b4{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-9bbc3b4.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-7a52c1f{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:20px 0px;--row-gap:20px;--column-gap:0px;--padding-top:24px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-6b9b7e9{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-6b9b7e9.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-a668e03{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-a668e03 > .elementor-widget-container{margin:0em 0em 0em 0em;padding:0px 0px 0px 0px;}.elementor-3763 .elementor-element.elementor-element-a668e03 img{width:100%;transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-84ce949{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-7051fbc{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-7051fbc.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-ea566ab{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-ea566ab > .elementor-widget-container{margin:0em 0em 0em 0em;padding:0px 0px 0px 0px;}.elementor-3763 .elementor-element.elementor-element-ea566ab img{width:100%;transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-222b4f7{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-c0d2f65{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3763 .elementor-element.elementor-element-c0d2f65.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-5d1d064{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-5d1d064 > .elementor-widget-container{margin:0em 0em 0em 0em;padding:0px 0px 0px 0px;}.elementor-3763 .elementor-element.elementor-element-5d1d064 img{width:100%;transition-duration:1s;}.elementor-3763 .elementor-element.elementor-element-7a616a1{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;}.elementor-3763 .elementor-element.elementor-element-06a6203{--n-tabs-heading-justify-content:flex-start;--n-tabs-title-width:initial;--n-tabs-title-height:initial;--n-tabs-title-align-items:flex-start;--n-tabs-title-flex-grow:0;--n-tabs-heading-wrap:wrap;--n-tabs-heading-overflow-x:initial;--n-tabs-title-white-space:initial;--n-tabs-title-justify-content:flex-start;--n-tabs-title-text-align:start;--n-tabs-title-gap:0px;--n-tabs-title-padding-top:0px;--n-tabs-title-padding-right:46px;--n-tabs-title-padding-bottom:8px;--n-tabs-title-padding-left:0px;--n-tabs-title-font-size:13.4px;--n-tabs-title-color:var( --e-global-color-primary );--n-tabs-title-color-active:var( --e-global-color-bfec86c );--n-tabs-title-direction:column;--n-tabs-icon-order:initial;--n-tabs-title-justify-content-toggle:center;--n-tabs-title-align-items-toggle:initial;--n-tabs-icon-size:0px;--n-tabs-icon-gap:0px;}.elementor-3763 .elementor-element.elementor-element-06a6203 > .elementor-widget-container > .e-n-tabs > .e-n-tabs-heading > .e-n-tab-title[aria-selected='false']:not( :hover ){background:var( --e-global-color-accent );}.elementor-3763 .elementor-element.elementor-element-06a6203.elementor-widget-n-tabs > .elementor-widget-container > .e-n-tabs[data-touch-mode='false'] > .e-n-tabs-heading > .e-n-tab-title[aria-selected="false"]:hover{background:var( --e-global-color-accent );}.elementor-3763 .elementor-element.elementor-element-06a6203.elementor-widget-n-tabs > .elementor-widget-container > .e-n-tabs > .e-n-tabs-heading > .e-n-tab-title[aria-selected="true"], .elementor-3763 .elementor-element.elementor-element-06a6203.elementor-widget-n-tabs > .elementor-widget-container > .e-n-tabs[data-touch-mode='true'] > .e-n-tabs-heading > .e-n-tab-title[aria-selected="false"]:hover{background:var( --e-global-color-accent );}.elementor-3763 .elementor-element.elementor-element-06a6203.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-3763 .elementor-element.elementor-element-06a6203 [data-touch-mode="false"] .e-n-tab-title[aria-selected="false"]:hover{--n-tabs-title-color-hover:var( --e-global-color-bfec86c );}:where( .elementor-3763 .elementor-element.elementor-element-06a6203.elementor-widget-n-tabs > .elementor-widget-container > .e-n-tabs > .e-n-tabs-content ) > .e-con{border-style:solid;border-width:1px 0px 0px 0px;border-color:var( --e-global-color-4d462f5 );--border-radius:0px 0px 0px 0px;--padding-top:20px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-3763 .elementor-element.elementor-element-401e8cc{padding:7em 0em 0em 0em;}.elementor-3763 .elementor-element.elementor-element-73333317{padding:3em 1em 3em 1em;}}@media(max-width:767px){.elementor-3763 .elementor-element.elementor-element-73333317{padding:90px 15px 90px 15px;}.elementor-3763 .elementor-element.elementor-element-302e3e6{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-9a48f1e{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-c868ee0{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-f462b72{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-508b17e{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-be416c9{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-52dbaaa{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-c5406c0{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-0c1451e{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-c20ad43{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-7a8722d{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-a362ca6{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-13f4f2e{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-466d28a{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-9bbc3b4{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-6b9b7e9{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-a668e03{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-84ce949{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-7051fbc{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-ea566ab{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-222b4f7{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-c0d2f65{--margin-top:0px;--margin-bottom:16px;--margin-left:0px;--margin-right:0px;}.elementor-3763 .elementor-element.elementor-element-5d1d064{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-7a616a1{width:100%;max-width:100%;}.elementor-3763 .elementor-element.elementor-element-06a6203{--n-tabs-heading-justify-content:flex-start;--n-tabs-title-width:initial;--n-tabs-title-height:initial;--n-tabs-title-align-items:center;--n-tabs-title-flex-grow:0;}}/* Start custom CSS for html, class: .elementor-element-9fbbaae */.elementor-3763 .elementor-element.elementor-element-9fbbaae {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-9fbbaae {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-302e3e6 */.professors_item {
    width: 33.33%;
}

.elementor-3763 .elementor-element.elementor-element-302e3e6 .elementor-column-gap-default {
    flex-wrap: wrap;
}

#faculty_box .elementor-widget-html {
    width: 50%;
}

.box_profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    padding-bottom: 12px;
}

.box_profile_text h5, #faculty_box .elementor-widget-html .elementor-widget-container div h5 {
    font-size: 18px;

    margin-bottom:1px;
}

.profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div ul {
    padding:0;
/*    transform: scale(0.86);
    transform-origin: left; */
}

.profile_text li, #faculty_box .elementor-widget-html .elementor-widget-container div ul li {
    font-size: 12px !important;
    padding:0;
    list-style: none;
}

.profile_suffix:after, #faculty_box .elementor-widget-html .elementor-widget-container div ul li:nth-child(1):after {
    content: "";
    display: block;
    height:5px;
    margin-bottom: 2px;
    width:32px;
    border-bottom: 1px solid #999;
}

#faculty_box .elementor-widget-html .elementor-widget-container div ul li:nth-child(2) {
    margin-bottom: 1.5em;    
}

.profile_text a.elementor-button-link.elementor-button, #faculty_box .elementor-widget-html .elementor-widget-container div ul a.elementor-button-link.elementor-button {
    margin-top: 0.5em;
    padding: 5px 13px 5px 10px;
    border-radius: 99px !important;
    background-color: #BBB;
}

@media screen and (max-width: 768px) {
#faculty_box .elementor-widget-html {
    width: 100%;
}
}

@media screen and (max-width: 719px) {
    .professors_item {
    width: 50%;
}

   .box_profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div {
       padding-left: 0;
   }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-58de375 */.elementor-3763 .elementor-element.elementor-element-58de375 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-58de375 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-adc312c */.elementor-3763 .elementor-element.elementor-element-adc312c {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-adc312c {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-adb7ab9 */.elementor-3763 .elementor-element.elementor-element-adb7ab9 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-adb7ab9 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5da4b85 */.elementor-3763 .elementor-element.elementor-element-5da4b85 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-5da4b85 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-12774a6 */.elementor-3763 .elementor-element.elementor-element-12774a6 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-12774a6 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-e73b28b */.elementor-3763 .elementor-element.elementor-element-e73b28b {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-e73b28b {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-84ce949 */.elementor-3763 .elementor-element.elementor-element-84ce949 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-84ce949 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-222b4f7 */.elementor-3763 .elementor-element.elementor-element-222b4f7 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-222b4f7 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-7a616a1 */.elementor-3763 .elementor-element.elementor-element-7a616a1 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-7a616a1 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-9fbbaae */.elementor-3763 .elementor-element.elementor-element-9fbbaae {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-9fbbaae {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-302e3e6 */.professors_item {
    width: 33.33%;
}

.elementor-3763 .elementor-element.elementor-element-302e3e6 .elementor-column-gap-default {
    flex-wrap: wrap;
}

#faculty_box .elementor-widget-html {
    width: 50%;
}

.box_profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    padding-bottom: 12px;
}

.box_profile_text h5, #faculty_box .elementor-widget-html .elementor-widget-container div h5 {
    font-size: 18px;

    margin-bottom:1px;
}

.profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div ul {
    padding:0;
/*    transform: scale(0.86);
    transform-origin: left; */
}

.profile_text li, #faculty_box .elementor-widget-html .elementor-widget-container div ul li {
    font-size: 12px !important;
    padding:0;
    list-style: none;
}

.profile_suffix:after, #faculty_box .elementor-widget-html .elementor-widget-container div ul li:nth-child(1):after {
    content: "";
    display: block;
    height:5px;
    margin-bottom: 2px;
    width:32px;
    border-bottom: 1px solid #999;
}

#faculty_box .elementor-widget-html .elementor-widget-container div ul li:nth-child(2) {
    margin-bottom: 1.5em;    
}

.profile_text a.elementor-button-link.elementor-button, #faculty_box .elementor-widget-html .elementor-widget-container div ul a.elementor-button-link.elementor-button {
    margin-top: 0.5em;
    padding: 5px 13px 5px 10px;
    border-radius: 99px !important;
    background-color: #BBB;
}

@media screen and (max-width: 768px) {
#faculty_box .elementor-widget-html {
    width: 100%;
}
}

@media screen and (max-width: 719px) {
    .professors_item {
    width: 50%;
}

   .box_profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div {
       padding-left: 0;
   }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-58de375 */.elementor-3763 .elementor-element.elementor-element-58de375 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-58de375 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-adc312c */.elementor-3763 .elementor-element.elementor-element-adc312c {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-adc312c {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-adb7ab9 */.elementor-3763 .elementor-element.elementor-element-adb7ab9 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-adb7ab9 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5da4b85 */.elementor-3763 .elementor-element.elementor-element-5da4b85 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-5da4b85 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-12774a6 */.elementor-3763 .elementor-element.elementor-element-12774a6 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-12774a6 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-e73b28b */.elementor-3763 .elementor-element.elementor-element-e73b28b {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-e73b28b {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-84ce949 */.elementor-3763 .elementor-element.elementor-element-84ce949 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-84ce949 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-222b4f7 */.elementor-3763 .elementor-element.elementor-element-222b4f7 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-222b4f7 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-7a616a1 */.elementor-3763 .elementor-element.elementor-element-7a616a1 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-7a616a1 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-9fbbaae */.elementor-3763 .elementor-element.elementor-element-9fbbaae {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-9fbbaae {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-302e3e6 */.professors_item {
    width: 33.33%;
}

.elementor-3763 .elementor-element.elementor-element-302e3e6 .elementor-column-gap-default {
    flex-wrap: wrap;
}

#faculty_box .elementor-widget-html {
    width: 50%;
}

.box_profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    padding-bottom: 12px;
}

.box_profile_text h5, #faculty_box .elementor-widget-html .elementor-widget-container div h5 {
    font-size: 18px;

    margin-bottom:1px;
}

.profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div ul {
    padding:0;
/*    transform: scale(0.86);
    transform-origin: left; */
}

.profile_text li, #faculty_box .elementor-widget-html .elementor-widget-container div ul li {
    font-size: 12px !important;
    padding:0;
    list-style: none;
}

.profile_suffix:after, #faculty_box .elementor-widget-html .elementor-widget-container div ul li:nth-child(1):after {
    content: "";
    display: block;
    height:5px;
    margin-bottom: 2px;
    width:32px;
    border-bottom: 1px solid #999;
}

#faculty_box .elementor-widget-html .elementor-widget-container div ul li:nth-child(2) {
    margin-bottom: 1.5em;    
}

.profile_text a.elementor-button-link.elementor-button, #faculty_box .elementor-widget-html .elementor-widget-container div ul a.elementor-button-link.elementor-button {
    margin-top: 0.5em;
    padding: 5px 13px 5px 10px;
    border-radius: 99px !important;
    background-color: #BBB;
}

@media screen and (max-width: 768px) {
#faculty_box .elementor-widget-html {
    width: 100%;
}
}

@media screen and (max-width: 719px) {
    .professors_item {
    width: 50%;
}

   .box_profile_text, #faculty_box .elementor-widget-html .elementor-widget-container div {
       padding-left: 0;
   }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-58de375 */.elementor-3763 .elementor-element.elementor-element-58de375 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-58de375 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-adc312c */.elementor-3763 .elementor-element.elementor-element-adc312c {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-adc312c {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-adb7ab9 */.elementor-3763 .elementor-element.elementor-element-adb7ab9 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-adb7ab9 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5da4b85 */.elementor-3763 .elementor-element.elementor-element-5da4b85 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-5da4b85 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-12774a6 */.elementor-3763 .elementor-element.elementor-element-12774a6 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-12774a6 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-e73b28b */.elementor-3763 .elementor-element.elementor-element-e73b28b {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-e73b28b {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-84ce949 */.elementor-3763 .elementor-element.elementor-element-84ce949 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-84ce949 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-222b4f7 */.elementor-3763 .elementor-element.elementor-element-222b4f7 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-222b4f7 {
    width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-7a616a1 */.elementor-3763 .elementor-element.elementor-element-7a616a1 {
    width: 50%;
}

@media screen and (max-width: 768px) {
.elementor-3763 .elementor-element.elementor-element-7a616a1 {
    width: 100%;
}
}/* End custom CSS */